<div {{ attributes }}>	
	<div class="sdc-partner">
		<a href="{{link}}" target="_blank">
			<div class="logo" style="background-color:{{background}}">					
				<img src="{{logo}}">					
			</div>
		</a>
	</div>
</div>


