/**
 * @file
 * Subtheme specific CSS.
 */

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 /* font-family: "Figtree", sans-serif;
 font-optical-sizing: auto; */


 :root {
    --primary-color: #114694;
    --font-primary: "Figtree", sans-serif 
}

html {
    font-size: 17px;
}

body {
    background: #fff;
    font-size: 1rem ;
    letter-spacing: 0 !important;
    font-family: var(--font-primary) !important;
    font-optical-sizing: auto; 
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
}

a, a:link {
    text-decoration: none;
}

.p-relative {
    position: relative !important;
}

/* .full-width {
    width: calc(100vw - 10px);
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

} */

/* containers */

@media screen and (min-width: 1688px) {
    .container-xxl {
        max-width: 1560px;
    }
}
@media screen and (min-width: 1980px) {
    .container-xxl {
        max-width: 1680px;
    }
}


#page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div#main-wrapper {
    flex: 1;
    position: relative;
    overflow-x: hidden;
}

.sticky-top {
    z-index: 100 !important;
}

.site-name-slogan a {
    text-decoration: none;
}

.card-group img {
    margin: 0;
    width: 100%;
    height: auto;
}

.card-group .field--type-image {
    margin: 0
}

.slick {
    width: 100%;
}

.slick>div {
    margin: 0 15px;
}

/* // --------------------------------------------- */
/* // PAGE  */


/* // --------------------------------------------- */
/* // HEADERS */
/* // --------------------------------------------- */


.header-three {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    -webkit-box-shadow: 0px 1px 0 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 0 0 rgba(255, 255, 255, 0.2);
}

/* --------------- */

.header-no_background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    -webkit-box-shadow: 0px 1px 0 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 0 0 rgba(255, 255, 255, 0.2);
}

.header-no_background #navbar-main {
    background-color: transparent !important;    
}

.header-no_background .topbar__three {
    background: url("../images/pattern-topbar.png") repeat top left var(--body-link-color);
}




/* // --------------------------------------------- */
/* NAVBAR */
/* // --------------------------------------------- */
.offcanvas.offcanvas-start {
    /* width: 100vw !important; */
    background: #222;
    .menu--main li a {
        color: #fff;
        font-size: 1.2rem;
        text-transform: uppercase;
    }


    @media screen and (max-width: 768px) {
        .menu--main li a {
            color: #fff;
            font-size: 1.4rem;
        }
    }
}

.offcanvas-header img {
    width: 50px;
    height: auto;
}



 /* --------------------------------------------- */
/* PAGE TITLE  */
 /* --------------------------------------------- */
body.hidden-title .node--view-mode-full .header-title {
    display: none !important;
}




 /* --------------------------------------------- */
/* FOOTER  */
/* --------------------------------------------- */
.site-footer {
    .site-footer__copyright {
        .abel {
            color: #aaaaaa7d;
            font-size: 0.9rem;
            padding-top: 8px;
            display: flex;
            align-items: center;
            justify-content: end;
            img {
                height: 30px;
            }
        }
    }
   
}


/* // --------------------------------------------- */
/* // Landing Page scrollr */
/* // --------------------------------------------- */
section {
    opacity: 1;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 1;    
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb !important;
    padding: 0 8%;
    text-align: center
}
.hsContent h2, .copy h2 {
    color: #ffffff;
    font-size: 45px;
    line-height: 48px;
    margin-bottom: 12px;
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* Slide 1 */
#slide-1 { height: 100vh;}
#slide-1 .bcg {
    background-image:url('https://ihatetomatoes.net/demos/parallax-scroll-effect/img/bcg_slide-1.jpg');
    background-size: cover;}

#slide-2 { height: 310px;}
#slide-2 .bcg {
    background: none;
    background-color: #010101;
    height: 310px;
    text-align: center
}

#slide-3 { height: 660px; width:100% ;}
#slide-3 .hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 1;        
}
#slide-3 .bcg {
    background-image:url('http://109.95.150.75/barrio/web/sites/default/files/2024-11/CFH%20conference-17_0.jpg');
    background-size: cover;       
}


